.login__container {
    background-color: whitesmoke;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    z-index: 1;

}

.login__logo {
    height: 200px;
    width:200px;
}
.login__logoContainer{
    display:flex;
    flex-direction: column;
    background-color: white;
    padding: 80px;
}